.app-container {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to bottom right, #0099ff, #bf00ff) center no-repeat;
    color: #fff;

    app-quote-info {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}
  