@import url('https://fonts.googleapis.com/css?family=Raleway:400,600');

* {
    padding: 0;
    margin: 0;
    font-family: 'Raleway', Helvetica, arial, sans-serif;
}

body {
    height: 100vh;
    width: 100%;
}